@inherits LayoutComponentBase
@inject AuthAPI authAPI

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="false"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Dark" Fixed="true" Elevation="2">
        <MudImage Src="images/screensound-logo.png"></MudImage>
        <MudSpacer />
        <MudSwitch @bind-Checked="@_isDarkMode" Class="ma-4" T="bool" Label="Medium" ThumbIcon="@(_isDarkMode ? Icons.Material.Filled.WbSunny : Icons.Material.Filled.DarkMode)" ThumbIconColor="@Color.Secondary" Color="Color.Tertiary" UnCheckedColor="Color.Surface" />
        <MudMenu AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
            <ActivatorContent>
                <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Primary" Size="MudBlazor.Size.Medium" />
            </ActivatorContent>
            <ChildContent>
                <MudMenuItem Style="display: flex;justify-content:center;align-items:center">
                    <p style="display: flex"><MudIcon Icon="@Icons.Material.Filled.Settings" /> Configurações</p>
                </MudMenuItem>
                <MudMenuItem OnClick="@Logout">
                    <p style="display: flex"><MudIcon Icon="@Icons.Material.Filled.ExitToApp" /> Logout</p>
                </MudMenuItem>
            </ChildContent>
        </MudMenu>
    </MudAppBar>
    <MudDrawer Open="true" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu></NavMenu>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode = true;

    public async Task Logout()
    {
        await authAPI.LogoutAsync();
    }
}